<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{tvShowDetail().name}}</mat-card-title>
    <mat-card-subtitle>{{tvShowDetail() | countdown}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="image-container">
      <img mat-card-image src={{tvShowDetail().image_path}} alt="Image">
    </div>
    <div>
      <span
        class="icon-bookmark"
        appToggleFavorite [showId]="tvShowDetail().id"
      ></span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
