@if (tvShowDetail) {
  <h2>{{tvShowDetail.name}}  - {{tvShowDetail.country}} - {{tvShowDetail.start_date | date:'yyyy'}} </h2>
  <hr/>
  <div>
 
  </div>
 <div class="section">
   <div class="container">
     <div class="row">
       <div class="col-sm-6">
         <img [src]="tvShowDetail.image_thumbnail_path" />
       </div>
       <div class="col-sm-6" [innerHTML]="tvShowDetail.description">
       </div>
     </div>
   </div>
   <div class="row">
     <div class="col-sm-12">
       <h5>Rating: {{tvShowDetail.rating | number: '1.0-2'}}/10 (rated by {{tvShowDetail.rating_count}} people)</h5>
     </div>
   </div>
   <p>{{tvShowDetailService.seasonCount() | i18nPlural:{"=0": "No Seasons","=1": "1 Season", "other": "# Seasons"} }}</p>
   <p>{{tvShowDetailService.episodes().length | i18nPlural: {"=0": "No Episodes","=1": "1 Episode", "other": "# Episodes"} }}</p>
 </div>
  <button (click)="back()" class="primary"><< Back</button>
}

