<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Year started</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
    @for (show of tvShows(); track show.id) {
      <tr>
        <td data-label="Name">{{ show.name }}</td>
        <td data-label="Country">{{ show.country }}</td>
        <td data-label="Year started">{{ show.start_date }}</td>
        <td data-label="Status">{{ show.status }}</td>
        <td data-label="Actions">
          <span class="icon-info"></span>
          <span class="icon-bookmark"></span>
          <span class="icon-link"></span>
        </td>
      </tr>
    }
  </tbody>
  <thead>
    <tr>
      <th colspan="4">Page 1 of 10</th>
    </tr>
  </thead>
</table>
